/* 
styles!

For caption-game project
Byron Lagrone

*/

/*


UNIVERSALS


*/

p
{
border:0;
margin:0;
padding:5px;
font-family: "Trebuchet MS", Arial;
font-size: 12px;
}

div
{
font-family: "Trebuchet MS", Arial;
font-size:12px;
}

/*


IDs


*/

#shell
{
width:760px;
margin:0 auto;
}

#formbit
{
width:757px;
height:700px;
border: 1px solid #FF0000;
}

#captionarea
{
width: 757px;
height:200px;
}

#captionarea p
{
text-align: center;
}

#captionarea form
{
text-align: center;
}

/* as a reminder, inp_0 is the text box */
#inp_0
{
width:600px;
text-align: center;
height:25px;
}


/*

CLASSES

*/

.leftways
{
text-align: left;
}

.infobar
{
width: 757px;
height: 30px;
border: 1px solid #00d9d9;
}

.rightways
{
text-align: right;
}
